<div id="<%= dom_id document %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Título:</strong>
    <%= document.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contenido:</strong>
    <%= document.content %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this workspace", document, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this workspace', edit_workspace_document_path(document), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
